* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    font-family: sans-serif;
    line-height: 1.6;
}

header {
    position: fixed;
    top: 0;
    min-height: auto;
    Width: 100%;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #eee;
}

@media screen and (max-width: 650px) {
    header {
        flex-direction: column;
    }
}

#company-logo-name > #header-img {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 20px;
  }
  
@media (max-width: 650px) {
    #company-logo-name > #header-img {
      margin: 0 auto;
    }
}

header #company-logo-name {
    width: 60vw;
}

@media (max-width: 650px) {
    header #company-logo-name {
      margin-top: 15px;
      width: 100%;
      text-align: center;
      position: relative;
    }
}

nav#nav-bar ul {
    display: flex;
}

nav#nav-bar ul li {
    margin-left: 2rem;
}

nav#nav-bar ul li a {
    color: #123;
}

@media screen and (max-width: 650px) {
    nav#nav-bar ul {
        display: block;
        text-align: center;
    }    
}

#product-pitch {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    margin-top: 50px;
    padding-top: 2rem;
}

@media screen and (max-width: 650px) {
    #product-pitch {
        margin-top: 120px;
        padding-top: 2rem;
    }
}


#product-pitch input {
    padding: .3rem;
    display: block;
    margin: 0.9rem auto;
}

#product-pitch input#email {
    width: 250px;
}

#product-pitch input#submit {
    width: 150px;
    border: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    background: yellow;
}

.grid {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

.grid details {
    margin-left: 3.5rem;
}

.grid details h2 {
    font-size: 1.5rem;
}

.grid details p {
    opacity: 0.8;
    text-align: justify;
}

@media screen and (max-width: 600px) {
    .grid {
        flex-direction: column;
    }

    .grid details {
        margin: 0;
        text-align: center;
    }
}

section#making {
    text-align: center;
    margin: 5rem 0;
}

section#pricing {
    display: grid;
    grid-gap: 2rem;
    align-items: center;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: repeat(3, 200px);
    margin-bottom: 5rem;
}

section#pricing .product {
    text-align: center;
    line-height: 2.5;
    border: 1px solid gold;
}

section#pricing .level {
    background: #E5E4E2;
}

section#pricing h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

section#pricing .button {
    background: gold;
    display: block;
    width: 150px;
    height: auto;
    margin: 1rem auto;
    padding: 0.5rem;
    border-radius: 5px;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
}

footer {
    background: #ddd;
    text-align: end;
    padding: 1rem .5rem;
}

footer>nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
}

footer>nav>li {
    margin-left: 1.5rem;
}

footer>nav>li>a {
    color: #111;
}

footer>span {
    opacity: 0.6;
    color: #111;
}